<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xtreme Lab</title>
</head>
<body>
<iframe src="{{ url }}"></iframe>
<form method="post" action="{{ url_for('xtreme.submit', token=token) }}">
    <input name="instance_id" type="hidden" value="{{ instance_id }}"/>
    <input name="response_id" type="hidden" value="{{ response_id }}"/>
    <input name="exam_id" type="hidden" value="{{ exam_id }}"/>
    <input name="submit" type="submit" value="Submit"/>
</form>
</body>
</html>