<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Are you colorblind?</title>
</head>
<style>
    input:nth-child(1) {
        width: 150px;
        height: 150px;
        overflow:hidden;
        background: green;
        color: transparent;
        border-radius: 200px;
        border:none;
    }
    input:nth-child(2) {
        width: 150px;
        height: 150px;
        overflow:hidden;
        background: red;
        color: transparent;
        border-radius: 200px;
        border:none;
    }
</style>
<body>
<form method="post">
    <input type="submit" name="submit" value="110dc0fb-9505-4f7d-bc5b-86bee0ae601e" id="110dc0fb-9505-4f7d-bc5b-86bee0ae601e">
    <input type="submit" name="submit" value="4b9bbd06-7c0f-47a1-9ee5-b0e2b838a465" id="4b9bbd06-7c0f-47a1-9ee5-b0e2b838a465">
</form>
</body>
</html>